* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

canvas {
  margin: 10px 0;
  border: 1px solid black;
}
